{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Campus Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- css  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" >
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
    <!-- css  -->
    <link rel="stylesheet" href="{% static 'leaflet-sidebar.css' %}" />
    <!-- leaflet geocoder  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />


    <style>
        body {
            padding: 0;
            margin: 0;
        }
        header {
            text-align: center;
            color:white;
        }
        .figure {
            vertical-align:middle;
            margin-bottom: 0.75em;
        }
        html, body, #map {
            height: 94%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .coordinate {
            position: absolute;
            bottom: 10px;
            right: 50%;
        }
        .leaflet-popup-content-wrapper {
            background-color: #000000;
            color: #fff;
            border: 1px solid red;
            border-radius: 0px;
        }
        .lorem {
            font-style: italic;
            text-align: justify;
            color: #AAA;
        }
        table, td, th {
            border: 1px solid;
          }
          table {
            width: 100%;
            height: 80px;
            border-collapse: collapse;
          }
          .form-submit {
            box-shadow: 3px 4px 0px 0px #276873;
            background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            background-color:#599bb3;
            border-radius:17px;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            font-weight:bold;
            padding:13px 25px;
            text-decoration:none;
            text-shadow:0px 1px 0px #3d768a;
        }
        .form-submit:hover {
            background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
            background-color:#408c99;
        }
        .form-submit:active {
            position:relative;
            top:1px;
        }

    </style>
</head>
<body>
    <header style="background: #add19e">
        <p style="margin: 10px; text-align: left; position: fixed; font-size: 24px">Welcome</p>
            <a style="display: inline" href="https://www.hacettepe.edu.tr/"><img
            src="https://i0.wp.com/www.arifyilmaz.com.tr/wp-content/uploads/2018/12/cropped-logo-hacettepe.png?ssl=1" width="80" height="90" alt="Hacettepe" class="figure" /></a>
            <h1 style="display: inline; text-align: center; color:black" > Campus Life </h1>
        <a href="http://127.0.0.1:8000/admin" style="margin: 0">Admin Login</a>
        <p id="current_date" style="color: #1d2124; margin: 0">Date</p>
    </header>


    <!-- optionally define the sidebar content via HTML markup -->
    <div id="sidebar" class="leaflet-sidebar collapsed">

        <!-- nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <!-- top aligned tabs -->
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars active"></i></a></li>
                <li><a href="#click" role="tab"><i class="fa fa-info"></i></a></li>
            </ul>

            <!-- bottom aligned tabs -->
            <ul role="tablist">
                <li><a href="https://github.com/GMK654-Web-GIS-LBS/web-gis-groupa.git"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <!-- panel content -->
        <div class="leaflet-sidebar-content">
            <div class="leaflet-sidebar-pane" id="home">
                <h1 class="leaflet-sidebar-header">
                    Campus Life Helper
                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                 <h2>Dining Center Menu For Today </h2>

                     <table >
                     <tr style="text-align: center; background-color: coral; ">
                     <th>{{ foods.0.Corba }} {{ foods.0.Corba }} </th>
                     <td>{{ foods.0.Corba }}</td>
                    <td>{{ foods.0.Corba }}</td>
                    <td>{{ foods.0.Corba }}</td>
                    </tr>
                    <p> {{ foods.0.Corba }} </p>
                    </table>



 <br>
                     <h2>Daily Calories Calculator</h2>
                <div class="calc-outer-wrap">
                    <div id="form-error" style="display:none;"></div>
                    <form class="calc-form" id="calc-form">
                      <div class="form-fields">

                        <div class="field-outer">
                          <label for="distance" class="top-label">Age:</label>
                          <div class="field-items">
                            <div class="field field-large">
                              <input type="text" name="age" id="age" inputmode="numeric" pattern="[0-9]*">
                            </div><!--  /.field-large -->
                            <br>
                            <div class="field field-medium">
                              <select name="gender">
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>

                              </select>

                            </div><!--  /.field-small -->
                          </div><!--  /.field-items -->
                        </div><!--  /.field-outer -->
                        <br>
                        <div class="field-outer">
                          <label for="height" class="top-label">Height:</label>
                          <div class="field-items">
                           <div class="field">
                              <input type="text" name="height_cm" id="height-cm" inputmode="numeric" pattern="[0-9]*">
                              <label class="lorem" for="height-cm">centimeters</label>
                            </div><!--  /.field -->
                          </div><!--  /.field-items -->
                        </div><!--  /.field-outer -->
                        <br>
                        <div class="field-outer">
                          <label for="weight" class="top-label">Your weight:</label>
                          <div class="field-items">
                            <div class="field field-large">
                              <input type="text" name="weight" id="weight" inputmode="numeric" pattern="[0-9]*">
                            </div><!--  /.field-large -->
                            <div class="field field-small">
                              <select name="weight_unit">
                                <option value="lb">lb</option>
                                <option value="kg">kg</option>
                              </select>
                            </div><!--  /.field-small -->
                          </div><!--  /.field-items -->
                        </div><!--  /.field-outer -->
                        <br>
                       <div class="btn-wrap field-outer">
                        <button class="form-submit">Calculate</button>
                      </div>
                      </div><!--  /.form fields -->


                    </form>
                    <div id="results" style="display:none;"></div>
                    </div><!--  /.calc-outer-wrap -->

                    <br>

                <h2 syle="text-align: right;" >Body Mass Index (BMI) Calculator </h2>


                <form id="bmi-form" onsubmit="return calcBMI();">
                    <div class="bmi-label">System:</div>
                    <div class="bmi-row">
                      <label>
                        <input type="radio" id="bmi-metric" name="bmi-measure" onchange="measureBMI()" checked/> Metric
                      </label>
                      <label>
                        <input type="radio" id="bmi-imperial" name="bmi-measure" onchange="measureBMI()"/> Imperial
                      </label>
                    </div>
                   <br>
                    <div class="bmi-label">
                      Weight (<span id="bmi-weight-unit">KG</span>):
                    </div>
                    <div class="bmi-row">
                      <input id="bmi-weight" type="number" min="1" max="635" required/>
                    </div>
                   <br>
                    <div class="bmi-label">Height (<span id="bmi-height-unit">CM</span>):</div>
                    <div class="bmi-row">
                      <input id="bmi-height" type="number" min="54" max="272" required/>
                    </div>
                   <br>
                    <input class="form-submit" type="submit" value="Calculate BMI"/>
                    <span id="bmi-results"></span>
                  </form>







                <h2  style="margin-top: 80px;" > Helpful Links  </h2>
                <ul>
                    <li><a href="https://www.hacettepe.edu.tr/english">Hacettepe University</a></li>
                    <li><a href="https://l24.im/qDdlNG">Food List</a></li>
                </ul>

                <p class="lorem"> <br> The group members: Selin Çelik, M. Ali Güvenaltın, Buğçe Gökçe.</p>

            </div>



            <div class="leaflet-sidebar-pane" id="messages">
                <h1 class="leaflet-sidebar-header">Messages<span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>


            <div class="leaflet-sidebar-pane" id="click">
                <h1 class="leaflet-sidebar-header">
                    Information
                    <span class="leaflet-sidebar-close"><i  class="fa fa-info"></i></span>
                </h1>
                <p style=" text-align: center;  ">
                    Similar to smart cities, a smart campus utilizes smart technologies to create new experiences and services. A smart campus helps universities to differentiate from their peers because it facilitates efficient practices and eliminates outdated transactional processes. Universities in particular serve as an ideal platform to showcase smart applications to promote smart campuses. These smart technologies, which are connected to the Internet and AI-driven – can improve various aspects of the student and faculty experience on campus such as:
                    <br>
                    <li> Improving student services
                    <li>Reducing wait times  </li>
                    <li>Reducing human errors</li>
                    <li>Automating workflows </li>
                    <li>Conserving energy and resources </li>
                    <li>Network computing</li>
                    <li>Finding the time, cost, and location of student events</li>
                    <br>
                    <p style=" text-align: center; ">The interactive campus map of Hacettepe is a web-based application that can be accessed through a web
                        browser and mobile application. With the Leaflet Map Application Programming Interface,
                        the availability of the overlay function has been taken advantage of to create custom map
                        functionalities. <br> The goal of the project is to provide the user with the location and current
                        menu information of cafeterias and cafes within the scope of the Hacettepe University Smart Campus Project.
                    </p>
            </div>



        </div>
    </div>

    <div id="map"></div>

    <a href="https://github.com/GMK654-Web-GIS-LBS/web-gis-groupa.git"><img style="position: fixed; top: 0; right: 15px; border: 0; z-index: 1000; width:35px; height:35px;"
        src="https://cdn.iconscout.com/icon/free/png-256/github-1521500-1288242.png" alt="Project GitHub Repository"></a>

    <a href="https://l24.im/qDdlNG"><img style="position: fixed; top: 7%; right: 15px; border: 0; z-index: 1000; width:35px; height:35px;"
        src="https://icon-library.com/images/dinner-icon-png/dinner-icon-png-18.jpg" alt="Yemekhane"></a>


    <!-- leaflet js  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="{% static 'leaflet-sidebar.js' %}"></script>
    <script>
    document.getElementById("current_date").innerHTML = Date();
    </script>
    <!-- leaflet geocoder  -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script>
        // standard leaflet map setup
        var map = L.map('map');
        // Map initialization
        // Initialize the map with specified center coordinates and zoom level
        // for target area
        map.setView([39.867942, 32.733218], 16);

        /* TILE LAYER */
        //osm layer
        osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 16,
            attribution: 'Map data &copy; OpenStreetMap contributors'
        }).addTo(map);

        // google street
        googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
        maxZoom: 16,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
        // googleStreets.addTo(map);

        //google satellite
        googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
        maxZoom: 16,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
        // googleSat.addTo(map)


        // create the sidebar instance and add it to the map
        var sidebar = L.control.sidebar({ container: 'sidebar' })
            .addTo(map)
            .open('home');

        /* close the sidebar */
        sidebar.close();

        // add panels dynamically to the sidebar
        sidebar
            .addPanel({
                id:   'js-api',
                tab:  '<i class="fa fa-gear"></i>',
                title: 'JS API',
                pane: '<p>The Javascript API allows to dynamically create or modify the panel state.<p/><p><button onclick="sidebar.enablePanel(\'mail\')">enable mails panel</button><button onclick="sidebar.disablePanel(\'mail\')">disable mails panel</button></p><p><button onclick="addUser()">add user</button></b>',
            })

            // add a tab with a click callback, initially disabled
            .addPanel({
                id:   'mail',
                tab:  '<i class="fa fa-envelope"></i>',
                title: 'Messages',
                button: function() { alert('opened via JS callback') },
                disabled: true,
            })


        // be notified when a panel is opened
        sidebar.on('content', function (ev) {
            switch (ev.id) {
                case 'autopan':
                sidebar.options.autopan = true;
                break;
                default:
                sidebar.options.autopan = false;
            }
        });

        var userid = 0
        function addUser() {
            sidebar.addPanel({
                id:   'user' + userid++,
                tab:  '<i class="fa fa-user"></i>',
                title: 'User Profile ' + userid,
                pane: '<p>User Profile</p>',
            });
        }

            /*           LAYER CONTROL  */
      var baseMaps = {
          "OSM": osm,
          'Google Street': googleStreets,
          "Google Satellite": googleSat,
      };
      var controlLayers =  L.control.layers(baseMaps).addTo(map);

      L.Control.geocoder().addTo(map);


          /*       MARKER        */
      {% for data in locations %}
      L.Routing.control({
      waypoints: [
      L.latLng(39.867942, 32.733218),
      L.latLng({{ data.lat }}, {{ data.lon }})
      ],
      router: L.Routing.osrmv1({
          profile: 'walking',
          serviceUrl: 'https://routing.openstreetmap.de/routed-foot/route/v1'
      })
      }).addTo(map);

      var singleMarker = L.marker([{{ data.lat }}, {{ data.lon }}]);
      var popup = singleMarker.bindPopup("{{ data.name }}");
      popup.addTo(map);

      {% endfor %}

        (function() {
        const form    = document.getElementById('calc-form');
        const results = document.getElementById('results');
        const errors  = document.getElementById('form-error');

        /**
         * Display a form validation error
         *
         * @param   {String}  msg  The validation message
         * @return  {Boolen}       Returns false
         */
        function errorMessage(msg) {
            errors.innerHTML = msg;
            errors.style.display = '';
            return false;
        }

        /**
         * Display the calculation results
         *
         * @param   {Integer}  calories   The calories burned
         * @param   {Integer}  distance   The distance run
         * @param   {String}   unit       The distance unit (miles or kilometers)
         * @param   {Integer}  burnRate   The calories per distance burn rate
         * @param   {Integer}  calsPerHr  The calories burned per hour
         */
        function showResults(calories) {
            results.innerHTML = `<p>Your basal metabolic rate (BMR) is: <strong>${(calories).toFixed(2)} </strong> calories a day.</p><a href="#" id="rs">revise</a>`;
          results.style.display = ''
          form.style.display = 'none'
          errors.style.display = 'none'
        }

        /**
         * Hide the results and reset the form
         */
        function resetForm(e) {
          if(e.target.id = 'rs') {
            e.preventDefault();
            results.style.display = 'none';
            form.style.display = '';
            form.reset()
          }
        }

        /**
         * Handle form submit
         */
        function submitHandler(e) {
            e.preventDefault();

            // Age
            let age = parseFloat(form.age.value);
            //let unit = form.distance_unit.value;
            if(isNaN(age) || age < 0) {
                return errorMessage('Please enter a valid age');
            }

            // Height
            let heightCM = parseFloat(form.height_cm.value);
            if(isNaN(heightCM) || heightCM < 0) {

              let heightFeet = parseFloat(form.height_ft.value);
              if(isNaN(heightFeet) || heightFeet < 0) {
                  return errorMessage('Please enter a valid Height in feet or centimeters');
              }
             let heightInches = parseFloat(form.height_in.value);
              if(isNaN(heightInches) || heightInches < 0) {
                  heightInches=0;
              }
              heightCM = (2.54 * heightInches) + (30.4 * heightFeet)

            }

              let weight = parseFloat(form.weight.value);
              if(isNaN(weight) || weight < 0) {
                  return errorMessage('Please enter a valid weight');
              }

            if(form.weight_unit.value == 'lb') {
                weight = 0.453592 * weight;
            }

           let calories = 0;
           if(form.gender.value == 'Female') {
              //females =  655.09 + 9.56 x (Weight in kg) + 1.84 x (Height in cm) - 4.67 x age
             calories = 655.09 + (9.56 * weight) + (1.84 * heightCM) - (4.67 * age);
            }  else {
             calories = 66.47 + (13.75 * weight) + (5 * heightCM) - (6.75 * age);
            }

            // Display results
           showResults(calories);
        }

        // Add Event Listeners
        form.addEventListener('submit', submitHandler);
        results.addEventListener('click', resetForm, true);

    })();

  // (A) CHANGE BMI MEASURING SYSTEM
function measureBMI () {
    // (A1) GET HTML ELEMENTS
    let unit = document.getElementById("bmi-metric").checked,
        weight = document.getElementById("bmi-weight"),
        weightu = document.getElementById("bmi-weight-unit"),
        height = document.getElementById("bmi-height"),
        heightu = document.getElementById("bmi-height-unit");

    // (A2) UPDATE HTML FORM FIELDS
    // TRUE = METRIC, FALSE = IMPERIAL
    if (unit) {
      weightu.innerHTML = "KG";
      weight.min = 1; weight.max = 635;
      heightu.innerHTML = "CM";
      height.min = 54; height.max = 272;
    } else {
      weightu.innerHTML = "LBS";
      weight.min = 2; weight.max = 1400;
      heightu.innerHTML = "IN";
      height.min = 21; height.max = 107;
    }
  }

  // (B) CALCULATE BMI
  function calcBMI () {
    // (B1) GET HTML ELEMENTS
    let bmi = null,
        unit = document.getElementById("bmi-metric").checked, // true = metric, false = imperial
        weight = parseInt(document.getElementById("bmi-weight").value),
        height = parseInt(document.getElementById("bmi-height").value),
        results = document.getElementById("bmi-results");

    // (B2) CALCULATE BMI
    // METRIC BMI = MASS (KG) / HEIGHT (M) SQUARE
    if (unit) {
      height = height / 100;
      bmi = weight / (height * height);
    }
    // IMPERIAL BMI = 703 X MASS (LBS) / HEIGHT (IN) SQUARE
    else {
      bmi = 703 * (weight / (height * height));
    }
    // ROUND OFF
    bmi = Math.round(bmi * 100) / 100; // Round off 2 decimal places

    // (B3) SHOW RESULTS
    if (bmi < 18.5) {
      results.innerHTML = bmi + " - Underweight";
    } else if (bmi < 25) {
      results.innerHTML = bmi + " - Normal weight";
    } else if (bmi < 30) {
      results.innerHTML = bmi + " - Pre-obesity";
    } else if (bmi < 35) {
      results.innerHTML = bmi + " - Obesity class I";
    } else if (bmi < 40) {
      results.innerHTML = bmi + " - Obesity class II";
    } else {
      results.innerHTML = bmi + " - Obesity class III";
    }
    return false;
  }


    </script>
</body>
</html>
